@*To be able to load google one tap sign in module*@
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sign In Demo</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>

    <h1>Login Page</h1>

    <form action="/Home/Login" method="post">
        <input type="text" name="username" value="" />
        <input type="text" name="password" value="" />
        <button type="submit">Login</button>
    </form>

</body>
</html>